<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Linkstash - A weekly stash of http links.">
    <title>Linkstash - Create a stash</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container" style="padding-top: 20px;">
        <div class="hero-unit">
            <h1 class="text-center">Linkstash</h1>
            <p>
                <p>
                    <strong>A weekly stash of http links.</strong>
                </p>

                We believe in a simple and elegant reading list. <br>
                Linkstash will allow you to create public and temporary (1 week) list of the links that you liked but did not have the time to read at the moment. <br>
                To create a Stash, just click the "Create my Stash!" button.
            </p>

            <div class="text-center">
                <button class="btn btn-large btn-primary">
                    Create my Stash
                </button>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="span4">
                    About us
                </div>

                <div class="span4">
                    Contact
                </div>
            </div>

            <hr>

            &copy; Copyright MistoLab 2013
        </footer>
    </div>
</body>
</html>