<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Linkstash - A weekly stash of http links.">
    <title>Linkstash - Create a stash</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">My Stash</h1>

        <div class="well">
            <div class="shash-date">
                <h4>13 novembre</h4>
                <ul>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                </ul>
            </div>
            <hr>

            <div class="shash-date">
                <h4>12 novembre</h4>
                <ul>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                </ul>
            </div>
            <hr>

            <div class="shash-date">
                <h4>11 novembre</h4>
                <ul>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                    <li>Reddit - skydiving (link)</li>
                </ul>
            </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="span4">
                    About us
                </div>

                <div class="span4">
                    Contact
                </div>
            </div>

            <hr>
            &copy; Copyright MistoLab 2013
        </footer>
    </div>
</body>
</html>